<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- footer -->
    <div id="footer" class="footerArea">
      <!-- footer(s)// -->

      <footer class="footerModify">
        <div class="footerModify__top">
          <ul class="footerModify__link">
            <li>
              <a href="/culture/main/contents.do?menuNo=200098">이용안내</a>
            </li>
            <li>
              <a href="/culture/main/contents.do?menuNo=200055"
                >개인정보처리방침</a
              >
            </li>
            <li>
              <a
                href="https://www.seoul.go.kr/helper/email.do"
                target="_blank"
                title="새창 열림"
                >이메일 무단수집거부</a
              >
            </li>
          </ul>
        </div>
        <div class="footerModify__bot">
          <h2 class="footerModify__logo">
            <a href="/"
              ><img
                src="/img/logo.png"
                alt="서울공공데이터"
            /></a>
          </h2>
          <div class="footerModify__info">
            <p class="address">
                서울특별시청 04524 서울특별시 중구 세종대로 110 전화번호 02-120 | 대표전화 02-2133-1271 | 빅데이터담당관(서소문청사)
            </p>
            <p class="call">02-2133-2538</p>
            <p class="copyright">
                ⓒ 2023. Seoul Metropolitan Government Some Rights Reserved.
            </p>
          </div>
        </div>
      </footer>
      <!-- //footer(e) -->
    </div>
  </body>
</html>
