<header  id="gnb-root">
    <div class="header-container">
        <div class="header-wrap align-position">
            <a class="logo-wrap" href="/" aria-label="logo">
                <span class="logo">
                    <img src="/img/header-logo.svg" height="52">
                </span>
            </a>
            <div class="center align-position">
                <span class="search align-position center none">
                    <form novalidate="" class="search-form">
                        <input type="search" class="search-input"
                            placeholder="검색어를 입력하세요.">
                        </form>
                    <button class="cancel button">취소</button>
                </span>
                <span>
                    <button class="search-btn button align-position pointer">
                        <svg width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3.5999 10.5C3.5999 6.68926 6.68914 3.60002 10.4999 3.60002C14.3107 3.60002 17.3999 6.68926 17.3999 10.5C17.3999 14.3108 14.3107 17.4 10.4999 17.4C6.68914 17.4 3.5999 14.3108 3.5999 10.5ZM10.4999 2.40002C6.0264 2.40002 2.3999 6.02652 2.3999 10.5C2.3999 14.9735 6.0264 18.6 10.4999 18.6C12.5207 18.6 14.3687 17.86 15.7876 16.6362L20.5756 21.4243C20.81 21.6586 21.1899 21.6586 21.4242 21.4243C21.6585 21.19 21.6585 20.8101 21.4242 20.5758L16.6361 15.7877C17.8599 14.3688 18.5999 12.5208 18.5999 10.5C18.5999 6.02652 14.9734 2.40002 10.4999 2.40002Z"
                                fill="#212124"></path>
                        </svg>
                    </button>
                </span>
                <span>
                    <button class="list-btn right-btn button align-position pointer">
                        <svg width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3 5.00002C3 4.66865 3.26863 4.40002 3.6 4.40002H20.4C20.7314 4.40002 21 4.66865 21 5.00002C21 5.3314 20.7314 5.60002 20.4 5.60002H3.6C3.26863 5.60002 3 5.3314 3 5.00002Z"
                                fill="#212124"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3 12C3 11.6687 3.26863 11.4 3.6 11.4H20.4C20.7314 11.4 21 11.6687 21 12C21 12.3314 20.7314 12.6 20.4 12.6H3.6C3.26863 12.6 3 12.3314 3 12Z"
                                fill="#212124"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3 19C3 18.6687 3.26863 18.4 3.6 18.4H20.4C20.7314 18.4 21 18.6687 21 19C21 19.3314 20.7314 19.6 20.4 19.6H3.6C3.26863 19.6 3 19.3314 3 19Z"
                                fill="#212124"></path>
                        </svg>
                    </button>
                    <button class="list-cancel right-btn button align-position pointer none">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.57564 5.57573C5.80995 5.34142 6.18985 5.34142 6.42417 5.57573L11.9999 11.1515L17.5756 5.57573C17.81 5.34142 18.1899 5.34142 18.4242 5.57573C18.6585 5.81004 18.6585 6.18994 18.4242 6.42426L12.8484 12L18.4242 17.5757C18.6585 17.81 18.6585 18.1899 18.4242 18.4243C18.1899 18.6586 17.81 18.6586 17.5756 18.4243L11.9999 12.8485L6.42417 18.4243C6.18985 18.6586 5.80995 18.6586 5.57564 18.4243C5.34132 18.1899 5.34132 17.81 5.57564 17.5757L11.1514 12L5.57564 6.42426C5.34132 6.18994 5.34132 5.81004 5.57564 5.57573Z"
                                fill="#212124"></path>
                        </svg>
                    </button>
                </span>
            </div>
        </div>
        <nav class="small-nav nav-opacity">
            <ul class="ul-position ul-style">
                <li class="li-style">
                    <a class="small-li-a text-none pointer point-color" href="">중고거래</a>
                </li>
                <li class="li-style">
                    <a class="small-li-a text-none pointer" href="">동네가게</a>
                </li>
                <li class="li-style">
                    <a class="small-li-a text-none pointer" href="">알바</a>
                </li>
                <li class="li-style">
                    <a class="small-li-a text-none pointer" href="">부동산 직거래</a>
                </li>
                <li class="li-style">
                    <a class="small-li-a text-none pointer" href="">중고차 직거래</a>
                </li>
            </ul>
        </nav>
        <div class="shadow none"></div>
    </div>
</header>

