<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script defer src="/js/header.js"></script>
  </head>
  <body>
    <header id="header" class="">
      <h1 class="logo">
        <a href="/">서울의 문화</a>
      </h1>
      <nav id="top_nav" class="navv">
        <ul>
          <li>
            <a
              href="/culture/culture/cultureEvent/list.do?searchCate=SHOW&amp;menuNo=200008"
            >
              문화행사</a
            >
            <ul class="depth">
              <li>
                <a
                  href="/culture/culture/cultureEvent/list.do?searchCate=SHOW&amp;menuNo=200008"
                  >공연</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureEvent/list.do?searchCate=EXHIBITION&amp;menuNo=200009"
                >
                  전시</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureEvent/list.do?searchCate=FESTIVAL&amp;menuNo=200010"
                >
                  축제</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureEvent/list.do?searchCate=EDUEXP&amp;menuNo=200011"
                >
                  교육/체험</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureEvent/list.do?searchCate=ETC&amp;menuNo=200013"
                >
                  기타</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              href="/culture/culture/cultureImage/list.do?searchCate=PERFORMANCE&amp;menuNo=200014"
            >
              영상</a
            >

            <ul class="depth">
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=PERFORMANCE&amp;menuNo=200014"
                >
                  공연</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=EXHIBITION&amp;menuNo=200015"
                >
                  전시</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=FESTIVAL&amp;menuNo=200016"
                >
                  축제</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=LIVE&amp;menuNo=200017"
                >
                  라이브</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=CHILDREN&amp;menuNo=200093"
                >
                  어린이</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=EDUCATION&amp;menuNo=200018"
                >
                  교육/체험</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=VIRTUALREALITY&amp;menuNo=200019"
                >
                  VR</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=INTERVIEW&amp;menuNo=200020"
                >
                  인터뷰</a
                >
              </li>
              <li>
                <a
                  href="/culture/culture/cultureImage/list.do?searchCate=OTHER&amp;menuNo=200021"
                >
                  기타</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="/culture/main/contents.do?menuNo=200028"> 문화정보</a>

            <ul class="depth">
              <li>
                <a href="/culture/main/contents.do?menuNo=200028">
                  서울문화축제</a
                >
              </li>
              <li>
                <a href="/culture/bbs/B0000005/list.do?menuNo=200031">
                  문화자료</a
                >
              </li>
              <li>
                <a href="/culture/culture/cultureSpace/list.do?menuNo=200025">
                  문화공간</a
                >
              </li>
              <li>
                <a href="/culture/singl/artist/list.do?menuNo=200026">
                  예술인/단체정보</a
                >
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200037"> 문화정책</a>
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200100">
                  비영리법인</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="/culture/event/event/list.do?menuNo=200040"> 신청 참여</a>

            <ul class="depth">
              <li>
                <a href="/culture/event/event/list.do?menuNo=200040"> 이벤트</a>
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200046">
                  보신각 타종 신청</a
                >
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200042">
                  수문장 교대</a
                >
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200096">
                  서울거리공연</a
                >
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200044">
                  행사 홍보 신청</a
                >
              </li>
              <li>
                <a href="/culture/main/contents.do?menuNo=200045">
                  문화공간등록 신청</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="/culture/bbs/B0000000/list.do?menuNo=200050"> 새소식</a>

            <ul class="depth">
              <li>
                <a href="/culture/bbs/B0000000/list.do?menuNo=200050">
                  공지사항</a
                >
              </li>
              <li>
                <a href="/culture/bbs/B0000001/list.do?menuNo=200051">
                  보도자료</a
                >
              </li>
              <li>
                <a href="/culture/bbs/B0000002/list.do?menuNo=200052">
                  채용공고</a
                >
              </li>
              <li>
                <a href="/culture/bbs/B0000003/list.do?menuNo=200086">
                  e-문화알림</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <a href="https://korean.visitseoul.net/index" id="visit-s" target="_blank"
        >서울특별시청</a
      >

      <ul id="gnb" class="clearfix">
        <li>
          <button type="button" class="search-btn" id="search-menu">
            검색
          </button>
        </li>
        <li>
          <button type="button" class="sitemap-btn" id="btn-menu">
            메뉴열기
          </button>
        </li>
      </ul>

      <!-- 메뉴열기시 나오는 메뉴 -->
      <div class="allmenu_m">
        <div class="allmenu_m_wrap">
          <div class="m_h_top">
            <ul class="top_ui_m clearfix">
              <li>
                <a href="/culture/member/user/forLogin.do?menuNo=200058"
                  >로그인</a
                >
              </li>
              <li>
                <a href="/culture/member/user/forLogin.do?menuNo=200058"
                  >회원가입</a
                >
              </li>
              <!-- 로그인시 나올 태그 -->
              <!-- <li>
                <a href="/culture/member/user/forLogin.do?menuNo=200058">로그아웃</a>
              </li>
              <li>
                <a href="/culture/member/user/forLogin.do?menuNo=200058">마이페이지</a>
              </li> -->
            </ul>
          </div>
          <ul class="clearfix" id="depth1List_m">
            <li>
              <a href="" class="cate-first active">문화재</a>
              <ul class="depth2List_m">
                <li>
                  <a
                    href="/culture/culture/cultureEvent/list.do?searchCate=SHOW&amp;menuNo=200008"
                    class="active"
                    >하위갈래1</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureEvent/list.do?searchCate=EXHIBITION&amp;menuNo=200009"
                    class="active"
                  >
                    하위갈래2</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureEvent/list.do?searchCate=FESTIVAL&amp;menuNo=200010"
                    class="active"
                    >하위갈래3</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureEvent/list.do?searchCate=EDUEXP&amp;menuNo=200011"
                    class="active"
                    >하위갈래4</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureEvent/list.do?searchCate=ETC&amp;menuNo=200013"
                    class="active"
                    >하위갈래5</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a class="cate-second" href="">문화행사 </a>
              <ul class="depth2List_m">
                <li>
                  <a
                    href="/culture/culture/cultureImage/list.do?searchCate=PERFORMANCE&amp;menuNo=200014"
                    >하위갈래1</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureImage/list.do?searchCate=EXHIBITION&amp;menuNo=200015"
                    >하위갈래2</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureImage/list.do?searchCate=FESTIVAL&amp;menuNo=200016"
                    >하위갈래3</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureImage/list.do?searchCate=LIVE&amp;menuNo=200017"
                    >하위갈래4</a
                  >
                </li>
                <li>
                  <a
                    href="/culture/culture/cultureImage/list.do?searchCate=CHILDREN&amp;menuNo=200093"
                    >하위갈래5</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a class="cate-third" href="">후기</a>
              <ul class="depth2List_m">
                <li>
                  <a href="/culture/main/contents.do?menuNo=200028"
                    >하위갈래1</a
                  >
                </li>
                <li>
                  <a href="/culture/bbs/B0000005/list.do?menuNo=200031"
                    >하위갈래2</a
                  >
                </li>
                <li>
                  <a href="/culture/culture/cultureSpace/list.do?menuNo=200025"
                    >하위갈래3</a
                  >
                </li>
                <li>
                  <a href="/culture/singl/artist/list.do?menuNo=200026"
                    >하위갈래4</a
                  >
                </li>
                <li>
                  <a href="/culture/singl/artist/list.do?menuNo=200026"
                    >하위갈래5</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a class="cate-fourth" href="">새소식</a>
              <ul class="depth2List_m">
                <li>
                  <a href="/culture/bbs/B0000000/list.do?menuNo=200050"
                    >공지사항</a
                  >
                </li>
                <li>
                  <a href="/culture/bbs/B0000001/list.do?menuNo=200051"
                    >보도자료</a
                  >
                </li>
                <li>
                  <a href="/culture/bbs/B0000002/list.do?menuNo=200052"
                    >채용공고</a
                  >
                </li>
                <li>
                  <a href="/culture/bbs/B0000003/list.do?menuNo=200086"
                    >e-문화알림</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <a href="#" class="close_m">닫기</a>
        </div>
      </div>
      <div class="depth_bg"></div>
    </header>
    <div class="searchArea">
      <form
        name="searchTotFrm"
        id="searchTotFrm"
        action="/culture/search/search/list.do?menuNo=200079&amp;pageIndex=1"
        method="post"
      >
        <ul>
          <li>
            <label for="searchTotCnd" class="hide">검색분류</label>
            <select name="searchTotCnd" id="searchTotCnd" title="검색분류">
              <option value="1">제목</option>
              <option value="2">내용</option>
              <option value="ALL">전체</option>
            </select>
          </li>
          <li>
            <label for="searchTotWord" class="hide">검색어</label>
            <input
              type="text"
              name="searchTotWord"
              id="searchTotWord"
              placeholder="검색어를 입력하세요."
              title="검색어"
            />
          </li>
          <li>
            <a href="#" class="searchArea__btn">검색</a>
          </li>
        </ul>
        <button type="button" class="searchArea__close c1">닫기</button>
      </form>
    </div>
  </body>
</html>
