#wrap {
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}
.sub-wrap {
    margin: 0 auto;
    padding-bottom: 140px;
}
.inner {
    max-width: 1400px;
    margin: 0 auto;
}
/* sub_visual 시작 */
#sub_visual {
    color: #000000;
    position: relative;
    padding: 190px 0 0;
    height: 420px;
}
#sub_visual .bg_w {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#sub_visual .bg.sub2 {
    background: url('../img/Sungnyemun_Gate_background.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}
#sub_visual .bg {
    /* background: url(/resources/culture/img/sub/sub_bg1.jpg); */
    background-size: cover;
    /* background-size:contain; */
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#sub_visual .sub-t {
    position: relative;
    z-index: 1;
}
.sub-t {
    color: #fff;
    text-align: center;
    line-height: 1.15;
    opacity: 0;
    /* transform: scale(1.18); */
    transition: all ease-in-out 1s;
}
.sub-t strong {
    font-size: 58px;
    display: block;
    font-weight: 500;
    line-height: 1;
}
.sub-t .sub-small {
    font-size: 1.500em;
    letter-spacing: -0.03em;
    padding-top: 28px;
    font-style: italic;
    line-height: 1;
}
.sub-t .sub-small span {
    font-weight: 600;
}
/* sub_visual 시작 */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* 가로 nav 시작 */
.sub-tab {
    text-align: center;
    margin: 80px 0 0;
}
.sub-tab ul {
    display: flex;
}
.sub-tab li {
    margin-left: -1px;
    width: 100%;
}
.sub-tab li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-size: 20px;
    color: #555;
    font-weight: 500;
    padding: 15px;
    border: 1px solid #ddd;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.sub-tab li a.active {
    background: #4f29ee;
    color: #fff;
    /* border: 1px solid #4f29ee; */
}
.sub-tab li a.active {
    background: #4f29ee;
    color: #fff;
    /* border: 1px solid #4f29ee; */
}
/* 가로 nav 끝 */

/* 가로 미니 nav 시작 */
.sub-tab2 {
    margin-top: 40px;
}
.sub-tab2 ul {
    overflow: hidden;
    width: fit-content;
    display: table;
    margin: 0 auto;
}
.sub-tab2 li.active:before {
    background: #4f29ee;
}
.sub-tab2 li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    bottom: 0;
    left: 0;
}
.sub-tab2 li {
    float: left;
    width: calc(16.6666666667% - 9px);
    min-width: 180px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.sub-tab2 li.active a {
    color: #4f29ee;
    font-weight: bold;
}
.sub-tab2 li a {
    display: block;
    padding-bottom: 25px;
    font-size: 1.125em;
    color: #666;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/* 가로 미니 nav 끝 */


/* 본문 안 동그라미 nav 시작 */
.sub-tab3 {
    font-size: 0;
    text-align: center;
    margin: 40px 0;
}
.sub-tab3 .active {
    color: #4f29ee;
    border-color: #4f29ee;
    font-weight: bold;
    text-decoration: underline;
}
.sub-tab3 li {
    display: inline-block;
    margin: 0 10px;
    border-radius: 100px;
    min-width: 10em;
    font-size: 16px;
    font-size: 1rem;
    border: 1px solid #ddd;
    color: #666;
}
.sub-tab3 a {
    display: block;
    padding: 10px 20px;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
/* 본문 안 동그라미 nav 끝 */

/* 본문 이미지(슬라이드) 시작 */
.cul-slide-wrap {
    position: relative;
}
.hide, caption, legend, .hidden {
    position: absolute;
    left: -300px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background: none;
    line-height: 0;
    overflow: hidden;
}
.culture-slide .slick-slide {
    transition: all 0.3s;
    position: relative;
    margin: 137px 10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
}
.culture-slide .slick-slide .img_box {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
    background: url(../img/2021042017434700_Sungnyemun_Gate.JPG) no-repeat center center #f4f4f4;
}
.culture-slide .slick-slide .img_box img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.slick-slide img {
    display: block;
}
.culture-slide .slick-current {
    transform: scale(2.5);
    z-index: 99;
    box-shadow: 16px 18px 18px 0px rgba(0, 0, 0, 0.18);
    background: black;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.culture-slide .slick-list {
    padding: 0px 50px 100px !important;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.culture-slide .slick-slide .img_box {
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
    background: url(../img/2021042017434700_Sungnyemun_Gate.JPG) no-repeat center center #f4f4f4;
}
.slick-track:after {
    clear: both;
}
.cultureCont .cul-slide-wrap .arrowSlider > * {
    transform: translateY(-50%);
}
.arrowSlider .prev {
    background: url(../img/slide-prev-btn.png) no-repeat center;
    left: 70px;
}
.arrowSlider > * {
    display: inline-block;
    width: 69px;
    height: 69px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 35px);
    transform: translateY(-75%);
    text-indent: -9999px;
}
.arrowSlider .next {
    background: url(../img/slide-next-btn.png) no-repeat center;
    right: 70px;
}
.common-section {
    margin-bottom: 80px;
}
.common-section h3 {
    font-size: 30px;
    color: #111;
    margin-bottom: 40px;
    text-align: center;
}
.type-box {
    font-size: 1.125rem;
    width: 100%;
}
.type-box li:not(:last-child) {
    margin-bottom: 15px;
}
.type-box > ul > li {
    padding-left: 150px;
}
.type-box > ul > li {
    position: relative;
    /* padding-left: 260px; */
}
.type-box .type-th {
    width: 140px;
}
.type-box .type-th {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 240px; */
    height: 100%;
    border: 1px solid #ccc;
    background: #f7f7f7;
    display: block;
}
.type-th > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.type-box li .type-td {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    min-height: 68px;
    line-height: 1.8;
    letter-spacing: -0.05em;
    font-size: 16px;
    word-break: keep-all;
}
.type-th {
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    /* width: 240px; */
    text-align: center;
    font-weight: bold;
    vertical-align: top;
}
.type-box > ul > li {
    position: relative;
    /* padding-left: 260px; */
}

/* 본문 이미지(슬라이드) 끝 */

/* 후기 시작 */
._2hs30c {
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    --gp-section-compact-padding: 32px !important;
    --gp-section-compact-padding-condensed: 16px !important;
    --gp-section-standard-padding: 48px !important;
    --gp-section-standard-padding-condensed: 24px !important;
}
.dsfg9qq[class][class] {
    --dls19-brand-color: var(--ihf-tp-q);
    --dls19-ui-brand-color: var(--f-k-smk-x);
    --dls19-pdp-listing-title-weight: var(--jx-zk-pv);
    --dls19-pdp-listing-title-size: var(--g-zgv-nj);
    --dls19-pdp-listing-title-line-height: var(--b-x-z-q-l-e);
    --dls19-brand-gradient: var(--dc-gy-f-v);
    --dls19-brand-gradient-radial: var(--d-e-vybb);
    --dls19-brand-gradient-accent: var(--ihf-tp-q);
}
.c1yo0219[class][class]::before {
    display: flex;
    content: '';
}
.c1yo0219[class][class]::after {
    display: flex;
    content: '';
}
.dir.plmw1e5[class][class] {
    margin-left: auto;
    margin-right: auto;
}
.mq5rv0q[class][class] {
    max-width: var(--gp-section-max-width,var(--maxWidth));
}
.plmw1e5[class][class] {
    height: 100%;
    width: 100%;
}
._npr0qi {
    border-top-width: 1px !important;
    border-top-style: solid !important;
}
.dir.h1v4rb5q[class][class] {
    margin-bottom: var(--kksqe-v);
}
.h1v4rb5q[class][class] {
    color: var(--f-k-smk-x);
    font-family: var(--e-ls-qkw);
    font-weight: var(--jx-zk-pv);
    font-size: var(--lhy-d-yl);
    line-height: var(--fme-bf-w);
}
.dir-ltr.itu4pt2[class][class] {
    margin-right: 8px;
}
.itu4pt2[class][class] {
    display: inline-flex;
}
.t1xdm4l6[class][class] {
    display: inline-flex;
}
.hghzvl1[class][class] {
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
}
.dir.hghzvl1[class][class] {
    margin: 0;
    padding: 0;
}
.dir.a8jt5op[class][class] {
    border: 0;
    padding: 0;
    display: none;
}
.dir.r1f90fvr[class][class] {
    margin-bottom: 24px;
}
.ciubx2o[class][class] {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    width: calc(100% + var(--b-y-unon));
}
.dir.rjiv01r[class][class] {
    margin-bottom: 16px;
}
._a3qxec {
    -webkit-box-pack: justify !important;
    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
}
._y1ba89 {
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
._bgq2leu {
    -webkit-box-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-left: 12px !important;
    width: 75% !important;
}
._7pay {
    position: relative !important;
    height: 4px !important;
    width: 100% !important;
    margin-right: 4px !important;
    background: rgb(221, 221, 221) !important;
    border-radius: 2px !important;
}
._1hewo85 {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    background: rgb(34, 34, 34) !important;
    border-radius: 2px !important;
}
._4oybiu {
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    margin-left: 6px !important;
}
._162hp8xh {
    position: relative !important;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.dir.r1rl3yjt[class][class] {
    margin-bottom: 40px;
}
.dir-ltr.chnzxuf[class][class] {
    justify-content: left;
}
.chnzxuf[class][class] {
    display: flex;
    flex-direction: row-reverse;
    /* -webkit-box-pack: left; */
    /* -ms-flex-pack: left; */
    align-items: center;
}
.dir-ltr.t11wgnhd[class][class] {
    margin-left: 12px;
}
.t11wgnhd[class][class] {
    color: var(--f-k-smk-x);
    font-family: var(--e-ls-qkw);
    font-weight: var(--jx-zk-pv);
    font-size: var(--iw-ehf-f);
    line-height: var(---s-l-myu);
}
.s15w4qkt[class][class] {
    color: #6c6c6c;
    font-family: var(--e-ls-qkw);
    font-weight: var(--e-y-j-d-v-j);
    font-size: var(--i-nh-zme);
    line-height: var(--gvarj-f);
}
.s189e1ab[class][class] {
    display: flex;
    align-items: baseline;
}
._7h1p0g {
    margin: 0px !important;
    padding: 0px !important;
}
._1f1oir5:nth-of-type(n) {
    display: inline !important;
}
._e7hn5 {
    display: block !important;
    position: relative !important;
}
._9bezani {
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
    text-decoration: underline !important;
    display: block !important;
    height: 100% !important;
    position: relative !important;
    width: 100% !important;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    border-radius: 50% !important;
}
._1c81x67 {
    background: rgb(221, 221, 221) !important;
    overflow: hidden !important;
    position: relative !important;
}
.dir.bztshid[class][class] {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.dqra4ro[class][class] {
    display: inline-block;
    vertical-align: bottom;
    height: var(--dls-liteimage-height);
    width: var(--dls-liteimage-width);
    min-height: 1px;
}
.irqavcc[class][class] {
    height: 100%;
    width: 100%;
    position: static;
}
.i1cqnm0r[class][class] {
    vertical-align: bottom;
}
.i1mla2as[class][class] {
    object-fit: var(--dls-liteimage-object-fit);
    object-position: var(--dls-liteimage-object-position);
}
.dir.reglew[class][class] {
    background-image: none;
}
.dir.bztshid[class][class] {
    background-position: 50% 50%;
    background-repeat: no-
    repeat;
}
.dir.dqqltwe[class][class] {
    background-image: var(--dls-liteimage-background-image);
    background-size: var(--dls-liteimage-background-size);
}
._9bezani::after {
    border: 0px solid rgb(0, 0, 0) !important;
    content: "" !important;
    display: block !important;
    pointer-events: none !important;
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 50% !important;
}
.dir.s17jnjyz[class][class] {
    margin-top: 8px;
}
.dir.c1uxatsa[class][class] {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: var(--h-l-f-om-o);
    text-align: inherit;
}
.atm_h_1h6ojuz.atm_h_1h6ojuz {
    align-items: center;
}
.atm_ar_vrvcex.atm_ar_vrvcex {
    flex-direction: row;
}
.dir-ltr.atm_gz_1y44olf.atm_gz_1y44olf {
    margin-left: 4px;
    display: inline-block;
}
.b1yf7320[class][class] {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    font-style: inherit;
    font-feature-settings: inherit;
    font-variant: inherit;
    line-height: inherit;
    color: inherit;
    -webkit-text-decoration: underline;
    text-decoration: underline;

}
.dir.v7aged4[class][class] {
    border-radius: var(--go-h-jh-l);
    border-width: 1px;
    border-style: solid;
    transition: box-shadow 0.2s ease,transform 0.1s ease;
    border-color: var(--f-k-smk-x);
    background: var(--f-mkcy-f);
    padding: 13px 23px;
}
.v7aged4[class][class] {
    font-family: var(--e-ls-qkw);
    font-size: var(--iw-ehf-f);
    line-height: var(---s-l-myu);
    font-weight: var(--jx-zk-pv);
    outline: none;
    padding: 14px 24px;
    /* -webkit-transition: box-shadow 0.2s ease,-webkit-transform 0.1s ease; */
    outline: none;
    color: var(--f-k-smk-x);
}
/* 후기 끝 */













@media (min-width: 375px){
    ._1a6d9c4 {
        padding-left: var(--gp-padding-smallAndAbove, 24px) !important;
        padding-right: var(--gp-padding-smallAndAbove, 24px) !important;
    }
    .dir-ltr.czbu900[class][class] {
        margin-left: calc(-1 * var(--ic-zlb-s));
    }
    .dir-ltr.cob9xum[class][class] {
        margin-right: calc(-1 * var(--ic-zlb-s));
    }






    .bar{
        display: none;
    }
    ._1ynbv25 {
        display: block !important;
    }
    .dir.c53epf4[class][class] {
        margin-bottom: 24px;
    }
    .dir.cob9xum[class][class] {
        margin-bottom: var(--carousel-wrapper-margin,0);
        margin-top: var(--carousel-wrapper-margin,0);
    }
    .dir.cob9xum[class][class] {
        margin-bottom: var(--carousel-wrapper-margin,0);
        margin-top: var(--carousel-wrapper-margin,0);
    }
    .dir-ltr.czbu900[class][class] {
        margin-left: calc(-1 * var(--ic-zlb-s));
    }

}




@media (max-width: 640px){
    .sub-t strong {
        font-size: 2.25em;
    }
    .sub-t .sub-small {
        font-size: 1em;
        padding-top: 1em;
    }
    .sub-tab li a {
        font-size: 17px;
    }
    .culture-slide .slick-slide {
        margin-top: 1.5em;
    }
    .culture-slide .slick-slide {
        margin-top: 1.5em;
    }
}

@media (max-width: 768px){
    .sub-tab {
        margin-top: 0;
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-tab2 {
        margin-top: 2.25em;
    }
    .sub-tab2 li a {
        font-size: 1em;
    }
    .culture-slide .slick-list {
        padding: 0 50px !important;
    }
    .culture-slide .slick-current {
        transform: scale(1.15);
    }
    .arrowSlider > * {
        width: 30px;
        height: 30px;
        background-size: 100% !important;
        transform: translateY(-50%);
    }
    .type-th {
        width: 8em;
        font-size: 1em;
    }
}


@media (min-width: 744px) {
    ._88xxct {
        display: block !important;
    }
    .dir.ciubx2o[class][class] {
        margin-left: calc(-1 * var(--jaa-ni-h) / 2);
        margin-right: calc(-1 * var(--jaa-ni-h) / 2);
    }
    .ciubx2o[class][class] {
        width: calc(100% + var(--jaa-ni-h));
    }
    ._1s11ltsf {
        width: 41.6667% !important;
        margin-right: 8.33333% !important;
        /* padding-left: 8px !important; */
        /* padding-right: 8px !important; */
    }
    .dir.ciubx2o[class][class] {
        margin-left: calc(-1 * var(--jaa-ni-h) / 2);
        margin-right: calc(-1 * var(--jaa-ni-h) / 2);
    }
}

@media (max-width: 1024px){
    #sub_visual {
        padding: 10rem 0 2.9rem 0;
        height: auto !important;
    }
    #sub_visual .sub-t {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .sub-tab3 {
        margin: 30px 0 50px;
    }
    .sub-tab3 li {
        margin: 0 5px 10px;
        min-width: auto;
    }
    .sub-tab3 a {
        padding: 5px 10px;
    }
    .culture-slide .slick-slide {
        margin: 5em 10px 3em;
    }
    .culture-slide .slick-slide {
        margin: 5em 10px 3em;
    }
    .arrowSlider .prev {
        left: 0;
    }
    .arrowSlider .next {
        right: 0;
    }
    .change_w .bg, .common-section {
        margin-bottom: 4rem;
    }
    .common-section h3 {
        font-size: 1.875rem;
        margin-bottom: 1.15em;
    }
    .type-box > ul > li {
        padding-left: 6.3em;
    }
    .type-box .type-th {
        width: 5.8em;
    }
    .type-box .type-th span {
        font-size: 0.8em;
    }
    .type-box > ul > li .type-td {
        padding: 1em;
    }
}



/* 후기 반응형 시작 */
    
@media (max-width: 1120px){
    ._1ynbv25 {
        display: block !important;
    }
    .dir.c53epf4[class][class] {
        margin-bottom: 24px;
    }
    .dir.cob9xum[class][class] {
        margin-bottom: var(--carousel-wrapper-margin,0);
        margin-top: var(--carousel-wrapper-margin,0);
    }
    .dir.cob9xum[class][class] {
        margin-bottom: var(--carousel-wrapper-margin,0);
        margin-top: var(--carousel-wrapper-margin,0);
    }
    
}

/* 후기 반응형 끝 */


@media (min-width:1128px){
    ._1a6d9c4 {
        padding-left: var(--gp-padding-largeAndAbove, 80px) !important;
        padding-right: var(--gp-padding-largeAndAbove, 80px) !important;
    }
    ._1s11ltsf {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    ._1s11ltsf {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    ._bgq2leu {
        width: 50% !important;
    }
    ._162hp8xh {
        width: 41.6667% !important;
        margin-right: 8.33333% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    .dir.c9gtck5[class][class] {
        margin-bottom: 16px;
    }
    ._1ynbv25 {
        display: block !important;
    }
    .dir.stu4mdj[class][class] {
        margin-top: 0;
    }
}


@media (max-width: 1400px){
    .inner {
        margin: 0 1.250em;
    }
    .sub-wrap {
        margin: 0 !important;
    }
    .container {
        margin: 0 1rem;
    }
    .sub-tab2 ul {
        margin: 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .sub-tab2 li:not(:last-child) {
        margin-right: 0;
    }
    .sub-tab2 li {
        min-width: auto;
        width: auto;
        float: none;
        display: inline-block;
        margin: 0 3px 10px;
    }
    .sub-tab2 li a {
        padding: 0 10px 10px;
    }
    .sub-tab2 ul {
        margin: 0;
        text-align: center;
        display: block;
        width: 100%;
    }
}















svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
img {
    max-width: 100%;
}
h1, h3, h4, h5 {
    font-size: 1em;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, img {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}
ol {
    display: block;
    /* list-style-type: decimal; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body {
    font-family: 'AppleSDGothic';
    line-height: 1.5;
    color: #111;
    overflow-y: scroll;
    font-weight: 400;
    letter-spacing: -0.05em;
}
body {
    font-family: 'AppleSDGothic';
    line-height: 1.5;
    color: #111;
    overflow-y: scroll;
    font-weight: 400;
    letter-spacing: -0.05em;
}
html {
    font-size: 16px;
}
section {
    display: block;
}

:root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0,0,0,0.28);
    --g-r-n-ycy: 1px solid rgba(0,0,0,0.04);
    --ih-jiz-p: 0 6px 20px rgba(0,0,0,0.2);
    --cglwe-y: 1px solid rgba(0,0,0,0.04);
    --cizosd: 0 6px 16px rgba(0,0,0,0.12);
    --cb-k-zk-c: 1px solid rgba(0,0,0,0.04);
    --e-swdx-p: 0 2px 4px rgba(0,0,0,0.18);
    --g-fi-y-r-e: 1px solid rgba(0,0,0,0.08);
    --itr-yy-z: cubic-bezier(0.2,0,0,1);
    --c-wky-h-p: 1px;
    --hzee-ha: 175px;
    --gracgr: 26px;
    --e-usyia: cubic-bezier(0.1,0.9,0.2,1);
    --hb-n-kc-m: 1px;
    --ikro-f: 300px;
    --h-m-d-zo-y: 35px;
    --f-w-xhiy: cubic-bezier(0.4,0,1,1);
    ---sof-io: 1px;
    --cll-sox: 300px;
    --kf-r-nu-y: 35px;
    --inwig-v: 1px;
    --ien-u-go: 250px;
    --d-kmbxx: 22px;
    --j-cm-lxz: cubic-bezier(0,0,1,1);
    --f-ya-ggj: cubic-bezier(1,0,0.86,1);
    --bd-d-m-c-q: cubic-bezier(0,0,0.1,1);
    ---bz-mmq: cubic-bezier(0.35,0,0.65,1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #B0B0B0;
    --j-qkgmf: #DDDDDD;
    --d-nc-lt-s: #EBEBEB;
    ---pc-g-v-g: #F7F7F7;
    --f-mkcy-f: #FFFFFF;
    --k-va-tnc: #C13515;
    --cnr-vp-o: #B32505;
    --f-p-k-v-lb: #FFF8F6;
    --fhi-qn-u: #E07912;
    --k-ff-my-a: #008A05;
    --ldbkp-d: #428BFF;
    --ihf-tp-q: #FF385C;
    --cl-yygv: #E00B41;
    --kd-lqtg: #92174D;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    --bb-gov-t: linear-gradient(to left,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    --d-e-vybb: radial-gradient(circle at center,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%,#D70466 57.5%,#BD1E59 75%,#BD1E59 100%);
    --gj-z-dpd: linear-gradient(to right,#BD1E59 0%,#92174D 50%,#861453 100%);
    --fb-hdaf: linear-gradient(to left,#BD1E59 0%,#92174D 50%,#861453 100%);
    --i-n-t-h-mj: radial-gradient(circle at center,#D70466 0%,#BD1E59 30%,#92174D 55%,#861453 72.5%,#6C0D63 90%,#6C0D63 100%);
    --iqds-nv: linear-gradient(to right,#59086E 0%,#460479 50%,#440589 100%);
    --dy-k-qzx: linear-gradient(to left,#59086E 0%,#460479 50%,#440589 100%);
    --j-m-v-dtd: radial-gradient(circle at center,#6C0D63 0%,#59086E 30%,#460479 55%,#440589 72.5%,#3B07BB 90%,#3B07BB 100%);
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --jlvl-j-l: 12px;
    --j-l-x-t-kw: 16px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
}