<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공연 정보!</title>
</head>

<body>
    <h1>공연 정보임</h1>
    <p></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $.ajax({
            method: "GET",
            url: "http://openapi.seoul.go.kr:8088/52585542496b646a3932726a4e7968/json/culturalEventInfo/1/100/",
            data: {},
            success: function (response) {
                let rows = response['culturalEventInfo']['row'];
                for(let i = 0; i<rows.length; i++) {
                    let culture = rows[i];
                    let codename = culture['CODENAME'];
                    let usefee = culture['USE_FEE'];
                    console.log(codename, usefee);
                    $( "p" ).append( `<strong> ${codename} : ${usefee}<br> <strong>` );
                }
                console.log("-------------");
                console.log(response);
            }
        })
            
    </script>
</body>

</html>