<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml"></html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문화를 잇다. 이음</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <script src="/js/join/.js"></script>
    <div th:replace="/fragment/link :: link"></div>
</head>

<!--header 넣을곳-->
<!--header 넣을곳-->

<body>
    <div class="join_area">
        <h2 class="join_title">회원가입</h2>
        <div class="input_box" id="">
            <h3 class="input_title ess">아이디</h3>
            <div class="input_item">
                <input type="text" class="input_txt in_essValue" name="mem_id" id="mem_id" placeholder="아이디를 입력해주세요.">
            </div><!--.input_item END-->
            <p class="input_error" id="email_input_error"></p>
            <p class="error email-error"></p>
        </div><!--.input_box END-->

        <div class="input_box has_button" id="password_input_box">
            <h3 class="input_title ess">비밀번호</h3>
            <div class="input_item">
                <input type="password" class="input_txt in_essValue" name="mem_pw" id="mem_pw" placeholder="영문, 숫자, 특수문자 조합 8-16자">
            </div><!--.input_item END-->
            <p class="input_error" id="password_input_error"></p>
        </div><!--.input_box has_button END-->

        <div class="input_box" id="name_input_box">
            <h3 class="input_title ess">이름</h3>
            <div class="input_item">
                <input type="text" class="input_txt in_essValue" name="mem_name" id="mem_name" placeholder="이름 입력">
            </div><!--.input_item END-->
            <p class="input_error" id="name_input_error"></p>
        </div><!--.input_box END-->

        <div class="input_box" id="hp_input_box">
            <h3 class="input_title ess">휴대폰 번호</h3>
            <div class="input_item">
                <input type="number" maxlength="11" oninput="maxLengthCheck(this)" class="input_txt in_essValue" name="mem_hp" id="mem_hp" placeholder="숫자만 입력">
            </div><!--.input_item END-->
            <p class="input_error" id="hp_input_error"></p>
        </div><!--.input_box END-->

        <div class="input_box" id="name_input_box">
            <h3 class="input_title ess">이메일</h3>
            <div class="input_item">
                <input type="text" class="input_txt in_essValue" name="mem_email" id="mem_email" placeholder="예)culture@ieum.com">
            </div><!--.input_item END-->
            <p class="input_error" id="name_input_error"></p>
        </div><!--.input_box END-->

        <div class="input_box" id="birthdate_input_box">
            <h3 class="input_title">생년월일/성별</h3>
            <div class="input_item birth">
                <input type="number" maxlength="6" oninput="maxLengthCheck(this)" class="input_birth ssn1" name="mem_birth" id="mem_birth" placeholder="&bull; &bull; &bull; &bull; &bull; &bull;"> <span class="dash">-</span>
                <input type="number" maxlength="1" oninput="maxLengthCheck(this)" class="input_birth ssn2" name="mem_gender" id="mem_gender" placeholder="&bull;"><span class="bullelements">&bull;&bull;&bull;&bull;&bull;&bull;</span>
            </div><!--.input_item END-->
            <p class="input_error" id="birthdate_input_error"></p>
        </div><!--.input_box END-->

        <div class="input_box" id="name_input_box">
            <h3 class="input_title">닉네임</h3>
            <div class="input_item">
                <input type="text" class="input_txt in_essValue" name="mem_nickname" id="mem_nickname" placeholder="3자이상 12자이하로 입력해주세요.">
            </div><!--.input_item END-->
            <p class="input_error" id="name_input_error"></p>
        </div><!--.input_box END-->
        <button type="submit" disabled="disabled" class="btn btn_join full solid disabled" id="btn_submitSignIn" onclick="sendit()"> 가입하기 </button>
    </div><!--.join_area END-->

<!--footer 넣을곳-->
<!--footer 넣을곳-->

</body>
</html>
<script src="/js/login/join.js"></script>